<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form"  (ngSubmit)="onSubmitRegister(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <ion-text color="danger" style="display:block;float: none; width: 100%" class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </ion-text>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Correo electrónico</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <ion-text color="danger" style="display:block;float: none; width: 100%" class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </ion-text>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Género</ion-label>
      <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
        <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating" color="primary">Teléfono</ion-label>
      <ion-input placeholder="" type="text" formControlName="phone"></ion-input>
    </ion-item>



    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label position="floating" color="primary">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <ion-text color="danger" style="display:block;float: none; width: 100%" class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Confirmar contraseña</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <ion-text color="danger" style="display:block;float: none; width: 100%" class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
    </div>
    <!-- These validations are for the form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <ion-text color="danger" style="display:block;float: none; width: 100%" class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </ion-text>
      </ng-container>
    </div>

    <ion-item>
      <ion-checkbox color="primary" formControlName="terms"></ion-checkbox>
      <ion-label color="primary" class="ml-2"> Acepto los términos y condiciones</ion-label>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <ion-text color="danger" style="display:block;float: none; width: 100%" class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </ion-text>
      </ng-container>
    </div>

    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Registrarse</ion-button>
  </form>
</ion-content>
